body{
    background-color:aliceblue;
}
h1{
    font-size:36pt;
    background-color: rgb(150, 202, 255);
    padding-top: 10px;
    padding-bottom:10px;
}
#wrapper {
    margin-top:5%;
    width:80%;
    margin-left: auto;
    margin-right:auto;
}
#mainline{
    text-align: center;
}
#reset{
    width:5%;
    margin-left:auto;
    margin-right:auto;
    text-decoration: underline;
    padding: 10px;
    text-align: center;
    background-color: brown;
    color:aliceblue;
}
.choicerow{
    width: 75%;
    margin-left:auto;
    margin-right:auto;
    font-weight:bold;
    font-size:20pt;
}
.rowtwo{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    font-weight:bold;
    font-size:20pt;

}

#floatclear{
    clear: both;
}
.energy{
    text-decoration: underline;
}
.job{
    text-decoration: underline;
}
.life{
    text-decoration: underline;
}
li{
    float:left;
    list-style: none;
    line-height: 45px;
    margin-left:5%;
    margin-right:auto;
}

#crtired1{
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    background-color:darkseagreen;
}
#crtired2{
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    background-color:seagreen;
    
}
#crjob1{
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    background-color:cadetblue;
    
}
#crjob2{
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    background-color:rgb(83, 132, 133);
    
}
#crlife1{
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    background-color: lightcoral;

}
#crlife2{
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    background-color: rgb(193, 90, 90);

}
#rttired1{
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    background-color:darkseagreen;
}
#rttired2{
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    background-color:seagreen;
}
#rtjob1{
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    background-color:cadetblue;
}
#rtjob2{
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    background-color:rgb(83, 132, 133);
}
#rtlife1{
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    background-color: lightcoral;
}
#rtlife2{
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    background-color: rgb(193, 90, 90);
}