html{
    background-color: black;
    color:aliceblue;
    width:100%;
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
}
#displayTerminal{
    display:block;
    background-color: black;
    color:greenyellow;
    font-weight: bolder;
    resize:none;
    margin-left: auto;
    margin-right: auto;
}
#wrapper{
    width:80%;
    margin: 5% auto;
}
#commandTerminal{
    width: 25%;
    color:greenyellow;
    background-color: black;
    text-align: right;
}
form{
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}
